img {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 120);
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 84px;
	width: 100%;
	opacity: 0;
	transition: .1s ease;
	background-color: #292c4f;
}

.imgcontainer {
	margin: auto;
	padding:12px;
	position:relative;
	width:384px;
}
.imgcontainer:hover .overlay {
	opacity: 0.5;
}

.imgcontainer:hover img {
	box-shadow: 0 0px 20px 8px rgba(0, 0, 100, 120);
}

.multiphoto {
	position:relative;
	text-align:center;
	display:flex;
}

.hvtext {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}


@media only screen and (max-width: 1200px){
	img {
		width:100%;
	}
}
